/* OVERLAY  */
.backdrop {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 15;
}
/* radial violet friend  */
.radial-popup {
    width: 600px;
    height: 600px;
    top: -236px;
    left: -100px;
    position: absolute;
    border-radius: 940px;
    background: radial-gradient(50% 50% at 50% 50%, #560696 0, #1a1b2800 100%);
    z-index: -1;
    overflow: hidden;
}
/*clicked effect myGame popup */
.glow-button {
    position: relative;
    overflow: hidden;
}

.glow-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: var(--glow-x, 50%);
    top: var(--glow-y, 50%);
    opacity: 0;
}

.glow-button.glow-active::after {
    animation: glow 0.6s ease-out forwards;
}

@keyframes glow {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    50% {
        width: 150px;
        height: 150px;
        opacity: 0.5;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* line 1/2 */

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6b7280;
    font-size: 14px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #6b7280;
}

.divider span {
    padding: 0 8px;
    color: #f9faff;
    font-size: 16px;
    font-weight: 700;
}

.dividers {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6b7280;
    font-size: 14px;
}

.dividers::before,
.dividers::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #6b72805c;
}

.dividers span {
    padding: 0 8px;
    color: #f9faff;
    font-size: 16px;
    font-weight: 700;
}

.game-mygame {
}
.game-mygame-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 10px 8px;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 2;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.game-mygame:hover .game-mygame-title {
    opacity: 1;
}
.game-mygame:hover {
    border: 2px solid rgb(104, 66, 255);
}
.game-mygame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
